.highlight {
    color: #ff0000;
}

.item{
    margin-left: 8px;
}
.highlightBlue{
    color: blue;
}

.box{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
}
.highlight2{
    background-color: #ff0;
}

.box-button{
    width: 100px;
    height: 20px;
    background-color: #ccf;

    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

body{
    background-color: #EEE;
}

#container{
    background-color: #FFF;
    padding: 12px;
    margin: 12px;
    height: 100%;
}

.items{
    width: 200px;
    background-color: #DDD;
    padding: 8px;
    float: left;
    margin: 4px; 
}

.items img{
    width: 100%;
}

.items .name{
    font-size: 24px;
}

.items .price{
    margin-top: 8px;
    margin-bottom: 8px;
}

.item.more-info{
    display: none;
}